<a href="index.php?p=Admin&c=AdminManager&a=add">添加</a>
<table border="1px" width="50%">
    <tr>
        <th>ID</th>
        <th>用户名</th>
        <th>登录时间</th>
        <th>操作</th>
    </tr>
    <?php  foreach($rows as $row):  ?>
    <tr>
        <td><?php echo $row['id'] ?></td>
        <td><?php echo $row['username'] ?></td>
        <td><?php echo date('Y-m-d H:i:s',$row['last_login_time']) ?></td>
        <td><a href="index.php?p=Admin&c=AdminManager&a=remove&id=<?php echo $row['id'] ?>">删除</a>  编辑</td>
    </tr>
    <?php  endForeach; ?>
</table>
